* {
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}
a {
    text-decoration: none !important;
    color: #046380;
}
a:focus, button:focus {
    outline: 0 !important;
}

.wrapper {
    padding-bottom:20px;
}

div.un-logged {
    padding: 3px 10px;
    font-size: 13px;
    float: right;
}
div.un-logged a:hover {
    color: #EA7B77;
}
.hr-header {
    margin: 10px 0 20px 0;
}
.danero-container {
    padding: 20px 15%;
}
.has-error {
    border-color: #EA7B77;
}
.has-error-label {
    color: indianred;
}

/* Memoir styles
 */
 .memoir {
     border-radius: 20px 20px 20px 20px;
     margin: 15px 0;
     padding: 15px 20px;
     position: relative;
     background-color: #EBEBEB;
     color: #3D3D3D;
     cursor: pointer;
 }
.memoir.right {
    margin-left: 10%;
}
.memoir.left {
    margin-right: 10%;
}

/* Custom Buttons */
.blue-btn {
    border-radius: 50% !important;
    background-color: lightblue;
    color: #102222;
}
.gray-btn {
    border-radius: 50% !important;
    background-color: lightgray;
    color: #102222;
}
.red-btn {
    border-radius: 50% !important;
    background-color: #EA7B77;
    color: #102222;
}
.gray:hover, .blue-btn:hover, .red-btn:hover {
    box-shadow: 0 0 2px #046380;
}

/* Responsive */
@media screen and (max-width: 540px) {
    .memoirs-list {
        padding: 0 0;
    }
    header.un-logged {
        float:left;
        text-align: center;
        width: 100%;
        padding-bottom: 15px;
    }
}

/* Custom Bootstrap
 */
.form-group label {
    font-weight: normal;
    font-size: 14px !important;
}
.alert {
    padding: 6px !important;
    font-size: 13px;
    margin: 0 0 10px 0!important;
}
.fa-sm {
    font-size: 9px;
    vertical-align: middle;
}